$width-box: 1140px;

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato';
    font-style: normal;
}

@import "_header.scss";
@import "_footer.scss";
@import "_items.scss";

/* МЕНЮ - ФОТО-4 ЭЛЕМЕНТА */

.image-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    max-width: $width-box;
    margin: 65px auto 0px;
}

.image-menu-element {
    width: 100%;
}

.image-menu-link {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    height: 260px;
    width: 360px;
    background-color: rgba(33, 22, 22, 0.7);
    background-blend-mode: multiply;

    .image-link-text {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }

}

.image-link-1 {
    background-image: url(pic/pic1.png);
}

.image-link-2 {
    background-image: url(pic/pic2.png);
}

.image-link-3 {
    background-image: url(pic/pic3.png);
    margin: 0 30px;
}

.image-link-4 {
    background-image: url(pic/pic4.png);
    width: 100%;
    max-width: $width-box;
    height: 180px;
    margin: 30px auto 0;
}

.image-menu-link:hover {
    background-blend-mode: normal;
}

.item-header1,
.item-header2 {
    margin: 96px auto 0;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.item-header2 {
    margin: 6px auto 0;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}



.btn {
    border: 1px solid #FF6A6A;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 14px 0px;
    width: 211px;
    margin: 63px auto 95px;
    background-color: #FBFBFB;
    color: #F26376;
    display: block;
    text-align: center;
    text-decoration: none;
}